@import '../core/Variables.scss';

:root {
  // 1REM = 1PX
  // font-size: 6.25%;
  font-size: 1px;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16rem;

  color: $col_black;
}

// RESET STYLES
h1,
h2,
h3,
h4,
h5,
h6,
fieldset {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
}

input {
  outline: none;
  box-shadow: none;
}
// END OF RESET STYLES
