@import './core/Normalize.scss';
@import './core/Reset';
@import './core/Variables';
@import './core/Global';

// REESCRIBE A PARTIR DE AQUÍ ^^

.app {
  position: relative;

  background-image: linear-gradient(
    180deg,
    #f6eee3 0%,
    #f2ece4 16.36%,
    #f1f1f1 44.38%,
    #f1f1f1 76.62%,
    #feefd9 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  // background-color: #ccc;

  // overflow: hidden;
}
